

<div>
    <div class="container-narrow">
		<div class="row">
			<div class="span10">
                <div class="row-fluid marketing">
                    <div class="span6">
                        <h4>OS X 客户端</h4>
                        <li>
                            <a href="https://github.com/shadowsocks/shadowsocks-iOS/releases/download/2.6.3/ShadowsocksX-2.6.3.dmg">ShadowsocksX 2.6.3.dmg</a>
                        </li>
                    </div>

                    <div class="span6">
                        <h4>Windows 客户端</h4>
                        <li>
                            <a href="https://github.com/shadowsocks/shadowsocks-csharp/releases/download/2.5.6/Shadowsocks-win-2.5.6.zip">Windows 7 or above: 2.5.6.zip</a>
                        </li>
                    </div>
                </div>

                <div class="row-fluid marketing">
                    <div class="span6">
                        <h4>iOS 客户端</h4>
                        <li><a href="https://github.com/shadowsocks/shadowsocks-iOS/releases/download/2.6.3/ShadowsocksX-2.6.3.dmg">KBShadowsocksX-2.6.3.dmg</a>
                        </li>
                    </div>

                    <div class="span6">
                        <h4>Android 客户端</h4>
                        <li>
                            <a href="https://github.com/shadowsocks/shadowsocks-android/releases/download/v2.9.2/shadowsocks-nightly-2.9.2.apk"  rel="nofollow">shadowsocks-nightly-2.9.2.apk</a>
                        </li>
                    </div>
                </div>


			</div>
		</div>

	</div>

</div>
